<!DOCTYPE html>

<html>

<header>
<title>404 Error</title>
<link rel="icon" href="/images/icon.png">
<link rel="stylesheet" href="/CSS/style.css">

</header>

<body>

    <div class="main-content">

        {{>header}}
        <p>{{errorMessage}}</p>
    
    </div>

{{>footer}}
</body>


</html>